/*-------------- Universal ----------------*/
* {
    box-sizing: border-box;
    margin: auto;
    padding: .25em;
    align-content: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*----------------- Body -------------------*/
body {
    font-family: 'Playfair Display SC', serif;
    background-image: url(../images/abstract-arctic-art-326240.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .25px;
    display: block;
}
/*---------------- Header ------------------*/
header {}
header img {
    display:block;
    float: left;
    width: 50%;
    height: auto;
}
header section {}
/*-------------- Navigation ----------------*/
nav {
    background-color: green;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: seagreen;
    box-shadow: 4px 4px rgba(0,0,0,0.5);
}
nav ul {
    list-style-type: none;
}
nav ul.hide {
    display:none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 2%;
    padding: 0;
    box-shadow: 4px 4px rgba(0,0,0,0.5);
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a.active {
    background-color: rgba(0,0,0,0.2);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
/*----------------- Main -------------------*/
.gridmain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}
main {
    text-align: center;
    max-width: 30rem;
}
main img {
    width: 95%;
    padding: 0;
}
figcaption:hover {
    text-shadow: 1px 1px rgba(38,106,46, 0.6);
}
figure img:hover {
    box-shadow: 6px 6px rgba(38,106,46, 0.6);
}
figure {
    margin: auto;
    padding: .2rem;
}
figcaption {
    margin: .2rem;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
/*---------------- Footer ------------------*/
footer {
    text-align: center;
}
footer section {}
#return {
    text-decoration: none;
    color: mediumblue;
}
/*--------------- ClearFix------------------*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
