* {
    font-family: ubuntu, sans-serif;
    text-align: center;
    align-content: center;
}
main {
    margin 0 30%;
    padding:2em 30%;
}
table {
    border: 2px solid #000;

    width: 100%;
    height: 25px;
    box-shadow: 10px 10px 15px #628ca6;
}
thead {
    border-top-right-radius: 25px;
    border-top-left-radius:  25px;
    background-color: #628ca6;
    height: 30px;
    font-size: 1em;
}
thead tr:first-child {
    font-size: 2em;
    background-color: #7fb9c2;
    height: 50px;
}
th {
    background-color: #628ca6;
    color: #fff
}
td {}
tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}
tfoot {
    background-color: #7fb9c2;
    height: 50px;
    width: 40%;
}
tr:first-child {
}
h3 {
    margin: 0;
}
