/* Coolors Exported Palette - coolors.co/a7d49b-f4e04d-ad2e24-545e75-36453b */

/* HSL */
$color1: hsla(107%, 40%, 72%, 1);
$color2: hsla(53%, 88%, 63%, 1);
$color3: hsla(4%, 66%, 41%, 1);
$color4: hsla(222%, 16%, 39%, 1);
$color5: hsla(140%, 12%, 24%, 1);

/* RGB */
$color1: rgba(167, 212, 155, 1);
$color2: rgba(244, 224, 77, 1);
$color3: rgba(173, 46, 36, 1);
$color4: rgba(84, 94, 117, 1);
$color5: rgba(54, 69, 59, 1);


color: #A7D49D;
color: #F4E04D;
color: #AD2E24;
color; #545e75;
color; #36453B;
